html,table,body,tr,td,div,input,textarea
{
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:12px;
}

.pagebreak{
	page-break-after: always;
}

.button{
background-color:blue;
color:#FFF;
cursor:pointer;
text-decoration:none;
cursor:pointer;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
width:50px;
}

.buttonsaveflow{
background-color:blue;
color:#FFF;
cursor:pointer;
text-decoration:none;
cursor:pointer;
width:300px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;

}

.buttonneg{
background-color:red;
color:#FFF;
cursor:pointer;
text-decoration:none;
cursor:pointer;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
width:50px;
}

.table
{
	background-color:#FFC;
	text-indent:2px;
	border: 2px solid #FF0;
}

.input
{
	background-color:#FFC;
	text-indent:2px;
}

.preview
{
	background-color:#F2F6F8;
	text-indent:2px;
	border: 2px solid #03F;
}
.preview2
{
	background-color:#F2F6F8;
	text-indent:2px;
}

preview2
{
	background-color:#F2F6F8;
	text-indent:2px;
}

.blue
{
	background:blue;
	width:150px;
	color:#FFF;
	cursor:pointer;
}

.bluesmall
{
	background:blue;
	width:100px;
	color:#FFF;
	cursor:pointer;
}

.red
{
	background:red;
	color:#FFF;
	cursor:pointer;
}

.orange
{
	background:orange;
	color:#FFF;
	cursor:pointer;
}

.green
{
	background:blue;
	color:#FFF;
	cursor:pointer;
}

.judul
{
	font-size:20px;
	font-weight:bold;
	margin-bottom:20px;
	text-align:center;
	margin-top:10px;
}

.img
{
	float:left;
	top:10px;
	right:10px;
}

option
{
	width:180px;
}

.tblform
{
	background-color:#ffffcc;
	margin:0 auto;
}